* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #A7C1D9;
    --nav-bar-color: #96B3D9;
    --nav-button-color: #3A2E2A;
    --nav-button-hover-color: #B85C74;
}

body {
    background-color: var(--background-color);
}

body nav {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    gap: 6rem;
    background-color: var(--nav-bar-color);
    margin-bottom: 2rem;
}

nav .btn {
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    color: var(--nav-button-color);
    background-color: var(--nav-bar-color);

}

nav .btn:hover {
    text-decoration: underline;
    color: var(--nav-button-hover-color);
    cursor: pointer;
}

#content .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 5rem;
    gap: 1rem;
}

.hero .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-inline-size: 50ch;
}

.hero-text .order-now {
    font-weight: 700;
    padding: 0.75rem;
    width: 8rem;
    border-radius: 20px;
    margin-top: 2rem;
    cursor: pointer;
}

.hero .hero-img {
    width: 350px;
}

#content .menu-container,
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.menu-container section,
.about-container section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    max-inline-size: 40ch;
}