@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orelega One';
    src: url('OrelegaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #A7C1D9;
    --nav-bar-color: #96B3D9;
    --nav-button-color: #3A2E2A;
    --nav-button-hover-color: #A6536A;
}

body {
    background-color: var(--background-color);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body nav {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    gap: 6rem;
    background-color: var(--nav-bar-color);
    margin-bottom: 2rem;
}

nav .btn {
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    color: var(--nav-button-color);
    background-color: var(--nav-bar-color);
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
}

nav .btn:hover {
    text-decoration: underline;
    color: var(--nav-button-hover-color);
    cursor: pointer;
}

#content .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 5rem;
    gap: 2rem;
}

.hero .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text .hero-title {
    font-family: 'Orelega One', Georgia, 'Times New Roman', Times, serif;   
    font-size: 5em;
}

.hero-text .hero-description {
    max-inline-size: 50ch;
}

.hero-text .order-now {
    font-weight: 700;
    padding: 0.75rem;
    width: 8rem;
    border-radius: 20px;
    margin-top: 2rem;
    cursor: pointer;
}

.hero .hero-img {
    width: 350px;
}

#content .menu-container,
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.menu-container section,
.about-container section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    max-inline-size: 40ch;
}